<% if @user.hall_of_famer? %>
  <div class="achievements">
    <h4>Hall of famer</h4>
    <div>Solved all 65 original repetition levels</div>
  </div>
<% end %>

<div class="stats">

  <% if @user.recent_high_scores? %>
    <div class="recent-high-scores">
      <h2>Recent high scores</h2>

      <% if @user.num_countdowns_completed > 0 %>
        <div class="game-mode-stats">
          <h3 class="game-mode-name"><a href="/countdown">Countdown</a></h3>
          <div class="stats-rows">
            <% @user.countdown_stats.each do |row| %>
              <div class="stats-row">
                <div class="label"><%= row[0].capitalize %></div>
                <div class="count"><%= row[1] %></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @user.num_speedruns_completed > 0 %>
        <div class="game-mode-stats">
          <h3 class="game-mode-name"><a href="/speedrun">Speedrun</a></h3>
          <div class="stats-rows">
            <% @user.speedrun_stats.each do |row| %>
              <div class="stats-row">
                <div class="label"><%= row[0].capitalize %></div>
                <div class="count"><%= row[1] %></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @user.all_time_high_scores? %>
    <div class="all-time-high-scores">
      <h2>All-time stats</h2>

      <div class="training-mode-stats">
        <div class="stats-rows">
          <% if @user.num_haste_rounds_completed > 0 %>
            <div class="stats-row total">
              <div class="long-label">Haste rounds completed</div>
              <div class="count"><%= @user.num_haste_rounds_completed %></div>
            </div>
          <% end %>

          <% if @user.num_three_rounds_completed > 0 %>
            <div class="stats-row total">
              <div class="long-label">Three rounds completed</div>
              <div class="count"><%= @user.num_three_rounds_completed %></div>
            </div>
          <% end %>

          <% if @user.num_countdowns_completed > 0 %>
            <div class="stats-row total">
              <div class="long-label">Countdowns completed</div>
              <div class="count"><%= @user.num_countdowns_completed %></div>
            </div>
          <% end %>

          <% if @user.num_speedruns_completed > 0 %>
            <div class="stats-row total">
              <div class="long-label">Speedruns completed</div>
              <div class="count"><%= @user.num_speedruns_completed %></div>
            </div>
          <% end %>

          <% if @user.num_infinity_puzzles_solved > 0 %>
            <div class="stats-row total">
              <div class="long-label">Infinity puzzles solved</div>
              <div class="count"><%= @user.num_infinity_puzzles_solved %></div>
            </div>
          <% end %>

          <% if @user.num_repetition_levels_completed > 0 %>
            <div class="stats-row total">
              <div class="long-label">Repetitions completed</div>
              <div class="count"><%= @user.num_repetition_levels_completed %></div>
            </div>
          <% end %>
        </div>
      </div>

      <% if @user.num_infinity_puzzles_solved > 0 %>
        <div class="training-mode-stats">
          <h3 class="game-mode-name"><a href="/infinity">Infinity</a></h3>
          <div class="stats-rows">
            <% @user.infinity_puzzles_solved_by_difficulty.each do |name, count| %>
              <% next if count == 0 %>
              <div class="stats-row">
                <div class="label"><%= name.capitalize %></div>
                <div class="count"><%= count %></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @user.user_rating&.rated_puzzle_attempts&.count.to_i > 0 %>
        <div class="training-mode-stats">
          <h3 class="game-mode-name"><a href="/rated">Rated</a></h3>
          <div class="stats-rows">
            <div class="stats-row">
              <div class="label">Rating</div>
              <div class="count"><%= @user.user_rating&.rating.round %></div>
            </div>
            <div class="stats-row">
              <div class="label">Puzzles seen</div>
              <div class="count"><%= @user.user_rating&.rated_puzzle_attempts&.count %></div>
            </div>
          </div>
        </div>
      <% end %>

      <% if @user.num_repetition_levels_completed > 0 %>
        <div class="training-mode-stats">
          <h3 class="game-mode-name"><a href="/repetition">Repetition</a></h3>
          <div class="stats-rows">
            <% @user.repetition_stats.each do |repetition_level, time| %>
              <div class="stats-row">
                <div class="label">
                  <% if current_user and repetition_level.number <= current_user.highest_repetition_level_number_completed %>
                    <%= link_to "Level #{repetition_level.number}", repetition_level.path %>
                  <% else %>
                    Level <%= repetition_level.number %>
                  <% end %>
                </div>
                <div class="count"><%= time %></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
