<% content_for(:title) { @user.username } %>

<div class="user-profile me">
  <div class="container">
    <header class="player-info">
      <div class="sign-out">
        <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>

      <h2 class="username"><%= @user.username %></h2>

      <%= form_tag "/users/me", method: :put do %>
        <input type="text" value="<%= @user.tagline %>"
               name="user[tagline]"
               placeholder="Write something about yourself"/>
        <input type="submit" value="Save" class="blue-button"/>
      <% end %>
    </header>

    <%= render partial: "users/puzzle_stats" %>
  </div>
</div>
