<section class="homepage">
  <div class="container">
    <h2>Fast-paced chess puzzles. Choose a game mode to get started.</h2>

    <div class="game-modes">
      <div class="mode infinity">
        <h3><a href="/infinity">Infinity</a></h3>
        <h4>
          Blaze through endless chess puzzles.
          Change the difficulty to challenge yourself.
        </h4>
        <%= linked_miniboard_path @infinity_puzzle.fen, "/infinity" %>
        <div class="under-mini-board">
          <% if current_user.present? %>
            You have solved <%= 3 %> puzzles
          <% else %>
            Sign in to track your progress
          <% end %>
        </div>
      </div>

      <div class="mode accuracy">
        <h3><a href="/<%= @level.slug %>">Repetition</a></h3>
        <h4>
          Use repetition to learn. Quickly solve puzzles
          without mistakes to unlock the next level.
        </h4>
        <%= linked_miniboard_path @level.first_puzzle_fen, "/#{@level.slug}" %>
        <div class="under-mini-board"><%= @level.name %></div>
      </div>
    </div>
  </div>
</section>
