<% content_for(:title) { "#{@level.display_name} | Repetition mode" } %>

<section class="repetition-mode" data-level="<%= @level.path %>">
  <%= render partial: "puzzle_player/progress_bar" %>
  <div class="main">
    <div class="board-area-container">
      <%= render partial: "puzzle_player/above_board" %>
      <%= render partial: "puzzle_player/board_area" %>
      <div class="under-board">
        <label class="level-name">
          <% if @level %>
            <%= @level.display_name %>
          <% elsif (title = local_assigns[:title]) %>
            <%= title %>
          <% end %>
        </label>

        <% if !user_signed_in? && @level.id == 1 %>
          <div class="onboarding">
            Solve puzzles quickly and accurately to unlock the next level
          </div>
        <% end %>

        <% if (next_level = @level&.next_level) %>
          <% if !user_signed_in? && @level.id == 1 %>
            <div class="next-stage invisible container anonymous">
              <div class="left">
                You've unlocked the next level!
                <div class="small">
                  Sign up to save your progress, or continue to Level <%= next_level.number %>
                </div>
              </div>
              <div class="right">
                <a class="blue-button" href="<%= https_registration_url %>">
                  Sign up
                </a>
                <a class="blue-button" href="<%= next_level.path %>">
                  Level <%= next_level.number %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"></path>
                  </svg>
                </a>
              </div>
            </div>
          <% else %>
            <div class="next-stage invisible container">
              <div class="left">You've unlocked the next level!</div>
              <div class="right">
                <a class="blue-button" href="<%= next_level.path %>">
                  Level <%= next_level.number %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"></path>
                  </svg>
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <aside class="sidebar">
      <div class="times">
        <div class="timer"></div>
        <div class="laps">
          <% @formatted_round_times.each do |time_elapsed| %>
            <div><%= time_elapsed %></div>
          <% end %>
        </div>
      </div>

      <div class="high-scores invisible">
        <h2>Fastest rounds</h2>

        <div class="scores">
          <% @high_scores.each do |user, time| %>
            <div class="high-score">
              <div class="time"><%= time %></div>
              <div class="player"><%= user_link user %></div>
            </div>
          <% end %>
        </div>
      </div>
    </aside>
  </div>
</section>
