<% content_for(:title) { @route[:title].html_safe } %>
<% content_for(:meta_description) { @route[:description].html_safe } %>

<% has_description = %w(
     /lucena-position
     /philidor-position
   ).include?(@route[:path]) %>

<% if has_description %>
  <div class="position-trainer small left-aligned container">
    <div class="left">
      <div class="instructions invisible"></div>

      <%= render partial: "puzzle_player/board" %>

      <div class="actions">
        <button class="button restart">Reset position</button>
      </div>
    </div>

    <div class="right">
      <% if @route[:path] == "/lucena-position" %>
        <%= render partial: "static/descriptions/lucena_position" %>
      <% elsif @route[:path] == "/philidor-position" %>
        <%= render partial: "static/descriptions/philidor_position" %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="position-trainer small container">
    <div class="instructions invisible"></div>

    <%= render partial: "puzzle_player/board" %>

    <div class="actions">
      <button class="button restart">Reset position</button>
    </div>
  </div>
<% end %>

<script>
  blitz.position = <%= @route[:options].to_json.html_safe %>;
</script>
