<section class="homepage">
  <div class="container">
    <h2>Fast-paced chess puzzles. Choose a game mode to get started.</h2>

    <div class="game-modes-container">
      <div class="game-modes left">
        <div class="mode infinity">
          <h3><a href="/infinity">Infinity</a></h3>
          <h4 class="game-mode-description">
            Blaze through endless puzzles.
            Change the difficulty to challenge yourself.
          </h4>
          <%= homepage_miniboard_link("/infinity", {
                fen: @infinity_puzzle.fen,
                initial_move: @infinity_puzzle.initial_move_uci,
              }) %>
          <div class="under-mini-board">
            <% if user_signed_in? %>
              You have solved <%= current_user.num_infinity_puzzles_solved %> puzzles
            <% else %>
              <a href="/users/sign_up">Sign up</a> to track your progress
            <% end %>
          </div>
        </div>

        <div class="mode accuracy">
          <h3><a href="<%= @repetition_level.path %>">Repetition</a></h3>
          <h4 class="game-mode-description">
            Use repetition to learn. Quickly solve puzzles
            without mistakes to unlock the next level.
          </h4>
          <%= homepage_miniboard_link(@repetition_level.path, {
                fen: @repetition_level.first_puzzle.fen,
                initial_move: @repetition_level.first_puzzle.initial_move_uci
              }) %>
          <div class="under-mini-board">
            <%= @repetition_level.display_name %>
          </div>
        </div>
      </div>

      <div class="game-modes right">
        <div class="mode speedrun">
          <h3><a href="/speedrun">Speedrun</a></h3>
          <h4 class="game-mode-description">
            Solve a sequence of puzzles as quickly as you can.
            Puzzles change every day.
          </h4>
          <%= homepage_miniboard_link("/speedrun", {
                fen: @speedrun_puzzle.fen,
                initial_move: @speedrun_puzzle.initial_move_uci
              }) %>
          <div class="under-mini-board speedrun">
            <% if user_signed_in? %>
              <div class="your-best-times">
                Your best time: <span class="best-time"><%= @best_speedrun_time %></span>
              </div>
            <% end %>

            <div class="daily-level">
              <div class="next-day">Next speedrun in <%= @hours_until_tomorrow %> hours</div>
            </div>
          </div>
        </div>

        <div class="mini-scoreboard">
          <% fastest_speedruns = @scoreboard.fastest_speedruns(@speedrun_level) %>
          <% if fastest_speedruns.present? %>
            <div class="fastest-speedruns top-players">
              <h5>Fastest speedruns today</h5>
              <% fastest_speedruns.each do |completed_speedrun| %>
                <div class="ranking">
                  <div class="player-name">
                    <%= user_link(completed_speedrun.user) %>
                  </div>
                  <div class="stats"><%= completed_speedrun.formatted_time_spent %></div>
                </div>
              <% end %>
            </div>
          <% end %>

          <h6>Past 7 days</h6>
          <% if @scoreboard.top_infinity.present? %>
            <div class="top-infinity top-players">
              <h5>Most infinity puzzles solved</h5>
              <% @scoreboard.top_infinity.each do |user, puzzles_solved| %>
                <div class="ranking">
                  <div class="player-name">
                    <%= user_link(user) %>
                  </div>
                  <div class="stats"><%= puzzles_solved %></div>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if @scoreboard.top_repetition.present? %>
            <div class="top-repetition top-players">
              <h5>Most repetition levels completed</h5>
              <% @scoreboard.top_repetition.each do |user, levels_completed| %>
                <div class="ranking">
                  <div class="player-name">
                    <%= user_link(user) %>
                  </div>
                  <div class="stats"><%= levels_completed %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
