<section class="homepage">
  <div class="container">
    <h2>Fast-paced chess puzzles. Choose a game mode to get started.</h2>

    <div class="game-modes-container">
      <div class="game-modes">
        <div class="mode haste">
          <h3><a href="/haste">Haste</a></h3>
          <h4 class="game-mode-description">
            Combos gain time. Mistakes lose time. New puzzles each run.
          </h4>
          <%= homepage_miniboard_link("/haste", @haste_puzzle) %>
          <div class="under-mini-board">
            <% if user_signed_in? %>
              <div class="your-best-times">
                Best score today: <span class="best-time"><%= @haste_best_score %></span>
              </div>
            <% end %>

            <div class="daily-level">
              New puzzles each run
            </div>
          </div>
        </div>

        <div class="mode countdown">
          <h3><a href="/countdown">Countdown</a></h3>
          <h4 class="game-mode-description">
            Solve puzzles before time runs out. New level each day.
          </h4>
          <%= homepage_miniboard_link("/countdown", @countdown_puzzle) %>
          <div class="under-mini-board">
            <% if user_signed_in? %>
              <div class="your-best-times">
                Best score today:
                <span class="best-time"><%= @countdown_level_score %></span>
              </div>
            <% end %>

            <div class="daily-level">
              <div class="next-day">Next level in <%= @hours_until_tomorrow %> hours</div>
            </div>
          </div>
        </div>

        <div class="mode speedrun">
          <h3><a href="/speedrun">Speedrun</a></h3>
          <h4 class="game-mode-description">
            Solve a sequence of puzzles as quickly as you can.
          </h4>
          <%= homepage_miniboard_link("/speedrun", @speedrun_puzzle) %>
          <div class="under-mini-board speedrun">
            <% if user_signed_in? %>
              <div class="your-best-times">
                Best time today: <span class="best-time"><%= @best_speedrun_time %></span>
              </div>
            <% end %>

            <div class="daily-level">
              <div class="next-day">Next speedrun in <%= @hours_until_tomorrow %> hours</div>
            </div>
          </div>
        </div>
      </div>

      <% begin %>
        <div class="game-modes">
          <div class="mode rated">
            <h3><a href="/rated">Rated</a></h3>
            <h4 class="game-mode-description">
              Solve puzzles quickly to gain more rating points.
            </h4>
            <%= homepage_miniboard_link("/rated", @rated_puzzle) %>
            <div class="under-mini-board">
              <div class="your-best-times">
                Your rating: <%= @user_rating %>
              </div>
            </div>
          </div>

          <% if @infinity_puzzle %>
            <div class="mode infinity">
              <h3><a href="/infinity">Infinity</a></h3>
              <h4 class="game-mode-description">
                Play through endless puzzles.
                Set your own difficulty.
              </h4>
              <%= homepage_miniboard_link("/infinity", @infinity_puzzle) %>
              <div class="under-mini-board">
                <% if user_signed_in? %>
                  You've solved
                  <%= current_user.num_infinity_puzzles_solved %>
                  puzzles
                <% else %>
                  <a href="/users/sign_up">Sign up</a> to track your progress
                <% end %>
              </div>
            </div>
          <% end %>
      <% rescue %>
      <% end %>

        <div class="mode repetition">
          <h3><a href="<%= @repetition_level.path %>">Repetition</a></h3>
          <h4 class="game-mode-description">
            Quickly solve puzzles without mistakes to unlock the next level.
          </h4>
          <%= homepage_miniboard_link(
                @repetition_level.path,
                @repetition_level.first_puzzle
              ) %>
          <div class="under-mini-board">
            <%= @repetition_level.display_name %>
          </div>
        </div>
      </div>
    </div>

    <div class="mini-scoreboard">
      <% fastest_speedruns = @scoreboard.fastest_speedruns(SpeedrunLevel.yesterdays_level) %>
      <% countdown_high_scores = @scoreboard.countdown_high_scores(CountdownLevel.yesterdays_level) %>
      <% if fastest_speedruns.present? or countdown_high_scores.present? %>
        <div class="scores">
          <h6>Yesterday</h6>
          <% if fastest_speedruns.present? %>
            <div class="fastest-speedruns top-players">
              <h5>Fastest speedruns</h5>
              <% fastest_speedruns.each do |user, formatted_time_spent| %>
                <div class="ranking">
                  <div class="player-name"><%= user_link(user) %></div>
                  <div class="stats"><%= formatted_time_spent %></div>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if countdown_high_scores.present? %>
            <div class="countdown-high-scores top-players">
              <h5>Countdown high scores</h5>
              <% countdown_high_scores.each do |user, high_score| %>
                <div class="ranking">
                  <div class="player-name"><%= user_link(user) %></div>
                  <div class="stats"><%= high_score %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @scoreboard.recent_scores? %>
        <div class="scores">
          <h6>Past 24 hours</h6>
          <% if @scoreboard.top_haste_scores_recent.present? %>
            <div class="top-players">
              <h5>Haste high scores</h5>
              <% @scoreboard.top_haste_scores_recent.each do |user, high_score| %>
                <div class="ranking">
                  <div class="player-name"><%= user_link(user) %></div>
                  <div class="stats"><%= high_score %></div>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if @scoreboard.top_infinity_recent.present? %>
            <div class="top-infinity top-players">
              <h5>Most infinity puzzles solved</h5>
              <% @scoreboard.top_infinity_recent.each do |user, puzzles_solved| %>
                <div class="ranking">
                  <div class="player-name"><%= user_link(user) %></div>
                  <div class="stats"><%= puzzles_solved %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% fastest_speedruns = @scoreboard.fastest_speedruns(@speedrun_level) %>
      <% countdown_high_scores = @scoreboard.countdown_high_scores(@countdown_level) %>
      <% if fastest_speedruns.present? or countdown_high_scores.present? %>
        <div class="scores">
          <h6>Today</h6>
          <% if fastest_speedruns.present? %>
            <div class="fastest-speedruns top-players">
              <h5>Fastest speedruns</h5>
              <% fastest_speedruns.each do |user, formatted_time_spent| %>
                <div class="ranking">
                  <div class="player-name"><%= user_link(user) %></div>
                  <div class="stats"><%= formatted_time_spent %></div>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if countdown_high_scores.present? %>
            <div class="countdown-high-scores top-players">
              <h5>Countdown high scores</h5>
              <% countdown_high_scores.each do |user, high_score| %>
                <div class="ranking">
                  <div class="player-name"><%= user_link(user) %></div>
                  <div class="stats"><%= high_score %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="bottom">
    <div class="container">
      <div class="updates">

        <h6>Site updates</h6>
        <div class="update">
          <div class="timestamp">Oct 1, 2020</div>
          <div class="text">
            If you forgot your password and signed up with an email,
            you can <a href="/users/password/new">reset your password here</a>
            if you're not logged in.
          </div>
        </div>

        <div class="update">
          <div class="timestamp">Feb 26, 2019</div>
          <div class="text">
            Rated mode is now in beta. Expect a rating reset in
            the future after puzzle ratings stabilize and tweaks
            are made to the rating system. More features to come.
          </div>
        </div>

        <div class="update">
          <div class="timestamp">Feb 24, 2019</div>
          <div class="text">
            Turn sounds on/off using the volume icon in the header
          </div>
        </div>

        <div class="update">
          <div class="timestamp">Feb 21, 2019</div>
          <div class="text">
            You can now
            <a href="/customize">customize your board colors</a>
          </div>
        </div>

        <h6>Links</h6>
        <div class="update">
          <a href="https://discord.gg/uqqhXbd">Join the Discord channel</a>
        </div>
        <div class="update">
          <a href="/positions">Practice endgame positions</a>
        </div>
      </div>
    </div>
  </div>
</section>
