<section class="homepage">
  <div class="container">
    <h2>Fast-paced chess puzzles. Choose a game mode to get started.</h2>

    <div class="game-modes">
      <div class="mode infinity">
        <h3><a href="/infinity">Infinity</a></h3>
        <h4 class="game-mode-description">
          Blaze through endless puzzles.
          Change the difficulty to challenge yourself.
        </h4>
        <%= homepage_miniboard_link("/infinity", {
              fen: @infinity_puzzle.fen,
              initial_move: @infinity_puzzle.initial_move_uci,
            }) %>
        <div class="under-mini-board">
          <% if current_user.present? %>
            You have solved <%= current_user.num_infinity_puzzles_solved %> puzzles
          <% else %>
            <a href="/users/sign_up">Sign up</a> to track your progress
          <% end %>
        </div>
      </div>

      <div class="mode speedrun">
        <h3><a href="/speedrun">Speedrun</a></h3>
        <h4 class="game-mode-description">
          Solve a sequence of puzzles as fast as you can.
          Set your personal best, then beat it.
        </h4>
        <%= homepage_miniboard_link("/speedrun", {
              fen: @speedrun_puzzle.fen,
              initial_move: @speedrun_puzzle.initial_move_uci
            }) %>
        <div class="under-mini-board">
          Best time: <%= @best_speedrun_time %>
        </div>
      </div>
    </div>
  </div>

  <div class="game-modes">
    <div class="mode accuracy">
      <h3><a href="<%= @level.path %>">Repetition</a></h3>
      <h4 class="game-mode-description">
        Use repetition to learn. Quickly solve puzzles
        without mistakes to unlock the next level.
      </h4>
      <%= homepage_miniboard_link(@level.path, {
            fen: @level.first_puzzle.fen,
            initial_move: @level.first_puzzle.initial_move_uci
          }) %>
      <div class="under-mini-board">
        <%= @level.display_name %>
      </div>
    </div>
  </div>
</section>
