<% content_for(:title) { "Positions Trainer" } %>

<div class="positions-index container">
  <h2>Position trainer</h2>

  <div class="positions">
    <p class="description">
      Choose from a list of chess positions to go train yourself at playing it correctly!
    </p>

    <div class="examples">
      <%= linked_miniboard_route "/lucena-position" %>
      <%= linked_miniboard_route "/philidor-position" %>
      <%= linked_miniboard_route "/vancura-position" %>

      <%= linked_miniboard_route "/kbb-vs-k-checkmate" %>
      <%= linked_miniboard_route "/kbn-vs-k-checkmate" %>
      <%= linked_miniboard_route "/kq-vs-kr-checkmate" %>
    </div>
  </div>

  <h2>Pawn endgames</h2>

  <div class="positions">
    <p class="description">
      Practice playing these common pawn endgame positions and learn the ideas behind them
    </p>

    <div class="examples">
      <%= linked_miniboard_route "/pawn-endgames/opposition" %>
      <%= linked_miniboard_route "/pawn-endgames/triangulation" %>
      <%= linked_miniboard_route "/pawn-endgames/retis-idea" %>

      <%= linked_miniboard_route "/pawn-endgames/zig-zag" %>
      <%= linked_miniboard_route "/pawn-endgames/bodycheck" %>
      <%= linked_miniboard_route "/pawn-endgames/distant-opposition" %>

      <%= linked_miniboard "The square rule", "8/3p4/8/2P5/P3k3/8/8/7K w - -", "win", 15 %>
      <%= linked_miniboard "Unusual king move", "6K1/8/6k1/8/8/p7/P7/8 w - -", "draw", 15 %>
      <%= linked_miniboard "Key squares", "4k3/8/8/8/8/1P6/8/2K5 w - -", "win", 15 %>

      <%= linked_miniboard "Anti-reti", "8/8/8/8/8/P4p2/k6K/8 w - -", "win", 15 %>
      <%= linked_miniboard "Triangulation 2", "2k5/8/p1P5/P2K4/8/8/8/8 w - -", "win", 15 %>
      <%= linked_miniboard "Bodycheck 2", "2K5/k7/7p/8/8/8/6P1/8 w - -", "win", 15 %>
    </div>

    <a href="/pawn-endgames" class="button more-button">More pawn endgames &raquo;</a>
  </div>
</div>
