<% content_for(:title) { "Scoreboard" } %>

<div class="container">
  <div class="scoreboard">
    <h1>Scoreboard</h1>

    <div class="scores">
      <div class="recent-scores">
        <div class="game-mode-scores">
          <h3>Most infinity puzzles solved</h3>

          <% @scoreboard.top_infinity.each do |user, count| %>
            <div class="user-score">
              <%= user_link user %>
              <div class="score"><%= count %></div>
            </div>
          <% end %>
        </div>

        <div class="game-mode-scores">
          <h3>Most speedruns completed</h3>

          <% @scoreboard.top_speedruns.each do |user, count| %>
            <div class="user-score">
              <%= user_link user %>
              <div class="score"><%= count %></div>
            </div>
          <% end %>
        </div>

        <div class="game-mode-scores">
          <h3>Repetition levels completed</h3>

          <% @scoreboard.top_repetition.each do |user, count| %>
            <div class="user-score">
              <%= user_link user %>
              <div class="score"><%= count %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% if @scoreboard.hall_of_fame.present? %>
      <div class="scores">
        <h2>Hall of fame</h2>
        <div class="hall-of-fame">
          <h3>All repetition levels completed</h3>

          <% @scoreboard.hall_of_fame.each do |user| %>
            <%= user_link user %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
