<% content_for(:title) { "Scoreboard" } %>

<div class="container">
  <div class="scoreboard">
    <h1>Scoreboard</h1>

    <div class="new-scores">
      <div class="recent-scores">
        <% @recent_days.each do |label, method| %>
          <% fastest_speedruns = @scoreboard.fastest_speedruns(SpeedrunLevel.send(method)) %>
          <% countdown_high_scores = @scoreboard.countdown_high_scores(CountdownLevel.send(method)) %>

          <% if fastest_speedruns.present? or countdown_high_scores.present? %>
            <div class="scores">
              <h2><%= label %></h2>

              <% if fastest_speedruns.present? %>
                <div class="game-mode-scores">
                  <h3>Fastest speedruns</h3>

                  <% fastest_speedruns.each do |user, formatted_time_spent| %>
                    <div class="user-score">
                      <%= user_link(user) %>
                      <div class="score"><%= formatted_time_spent %></div>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <% if countdown_high_scores.present? %>
                <div class="game-mode-scores">
                  <h3>Countdown high scores</h3>

                  <% countdown_high_scores.each do |user, high_score| %>
                    <div class="user-score">
                      <%= user_link(user) %>
                      <div class="score"><%= high_score %></div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <h2>Recent high scores</h2>
      <div class="recent-scores scores">
        <div class="game-mode-scores">
          <h3>Highest ratings</h3>
          <% @scoreboard.recent_high_rated.each do |user, rating| %>
            <div class="user-score">
              <%= user_link user %>
              <div class="score"><%= rating %></div>
            </div>
          <% end %>
        </div>

        <div class="game-mode-scores">
          <h3>Highest haste scores</h3>
          <% @scoreboard.top_haste_scores_recent.each do |user, count| %>
            <div class="user-score">
              <%= user_link user %>
              <div class="score"><%= count %></div>
            </div>
          <% end %>
        </div>

        <div class="game-mode-scores">
          <h3>Repetition levels completed</h3>
          <% @scoreboard.top_repetition_recent.each do |user, count| %>
            <div class="user-score">
              <%= user_link user %>
              <div class="score"><%= count %></div>
            </div>
          <% end %>
        </div>
      </div>

      <h2>All-time high scores</h2>
      <div class="recent-scores scores">
        <div class="game-mode-scores">
          <h3>Most infinity puzzles solved</h3>
          <% @scoreboard.top_infinity.each do |user, count| %>
            <div class="user-score">
              <%= user_link user %>
              <div class="score"><%= count %></div>
            </div>
          <% end %>
        </div>

        <div class="game-mode-scores">
          <h3>Most speedruns completed</h3>
          <% @scoreboard.top_speedruns.each do |user, count| %>
            <div class="user-score">
              <%= user_link user %>
              <div class="score"><%= count %></div>
            </div>
          <% end %>
        </div>

        <div class="game-mode-scores">
          <h3>Repetition levels completed</h3>
          <% @scoreboard.top_repetition.each do |user, count| %>
            <div class="user-score">
              <%= user_link user %>
              <div class="score"><%= count %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% if @scoreboard.hall_of_fame.present? %>
      <div class="old-scores">
        <h2>Hall of fame</h2>
        <div class="hall-of-fame">
          <h3>All original repetition levels completed</h3>

          <% @scoreboard.hall_of_fame.each do |user| %>
            <%= user_link user %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
