<% fen = local_assigns[:fen] %>
<% nonce = (rand * 1000000).to_i %>

<div class="mini-chessboard position-<%= nonce %>">
  <% polarity = %w( light dark ).cycle %>
  <% (1..8).to_a.reverse.each do |row| %>
    <% ('a'..'h').to_a.each do |col| %>
      <% square_id = "#{col}#{row}" %>
      <div class="square <%= polarity.next %> <%= square_id %>"
           data-square="<%= "#{col}#{row}" %>"></div>
    <% end %>
    <% polarity.next %>
  <% end %>
</div>

<script>
  $(function() {
    new Views.MiniChessboard({
      el: ".position-<%= nonce %>",
      fen: "<%= fen %>",
    });
  });
</script>
