<% content_for(:title) { "Positions Trainer" } %>

<div class="positions-index container">

  <div class="thinner">

    <h2>Position Trainer</h2>

    <p class="description">
      Click one of these positions to go and train yourself at playing it correctly!
    </p>

    <%= linked_miniboard "Lucena position", "3K4/3P1k2/8/8/8/8/4R3/2r5 w - -" %>
    <%= linked_miniboard "Philidor position", "6R1/4k2r/8/3KP3/8/8/8/8 b - -" %>
    <%= linked_miniboard "Saavedra position", "8/8/1KP5/3r4/8/8/8/k7 w - -" %>

    <%= linked_miniboard "Reti endgame study", "7K/8/k1P5/7p/8/8/8/8 w - -" %>
    <%= linked_miniboard "KBB vs K endgame", "8/8/4k3/8/8/2K2B2/5B2/8 w - - 0 1" %>
    <%= linked_miniboard "Winning endgame", "8/8/1p6/p1p5/P1P5/1P4k1/2K5/8 b - -" %>

  </div>

</div>
