<% round_times = local_assigns[:round_times] || [] %>

<%= render :partial => "interface/progress_bar" %>

<div class="above-board">

  <div class="instructions">White to move</div>

  <div class="puzzle-hint"></div>

  <div class="move-status">&nbsp;</div>

  <div class="combo-counter invisible">
    <span class="counter">&nbsp;</span>
    <span class="combo-text">combo</span>
  </div>

</div>

<div class="main">

  <a href="/levels" class="level-selector">&lt;</a>

  <div class="board-area">
    <%= render :partial => "interface/chessboard" %>
    <%= render :partial => "interface/piece_promotion_modal" %>
  </div>

  <aside class="sidebar">

    <div class="times">
      <div class="timer"></div>
      <div class="laps">
        <% round_times.each do |time_elapsed| %>
          <div><%= time_elapsed %></div>
        <% end %>
      </div>
    </div>

  </aside>

</div>

<div class="under-board">
  <label class="level-name">
    <%= level_id %>
    <% if level_name %>
      &mdash; <%= level_name %>
    <% end %>
  </label>

  <div class="next-stage invisible container">
    <div class="left">You've unlocked the next level!</div>
    <div class="right">
      <a class="blue-button" href="javascript:">Next &raquo;</a>
    </div>
  </div>

</div>

<script>
  blitz.loggedIn = <%= current_user ? true : false %>;
</script>

