<% round_times = local_assigns[:round_times] || [] %>

<%= render :partial => "interface/progress_bar" %>

<div class="above-board">

  <div class="instructions">White to move</div>

  <div class="puzzle-hint invisible">
    <div class="move"></div>
    <div class="hint-trigger">Show hint</div>
  </div>

  <div class="move-status">&nbsp;</div>

  <div class="combo-counter invisible">
    <span class="counter">&nbsp;</span>
    <span class="combo-text">combo</span>
  </div>

</div>

<div class="main">

  <a href="/levels" class="level-selector">&lt;</a>

  <div class="board-area">
    <%= render :partial => "interface/chessboard" %>
    <%= render :partial => "interface/piece_promotion_modal" %>
  </div>

  <aside class="sidebar">

    <div class="times">
      <div class="timer"></div>
      <div class="laps">
        <% round_times.each do |time_elapsed| %>
          <div><%= time_elapsed %></div>
        <% end %>
      </div>
    </div>

  </aside>

</div>

<div class="under-board">
  <label class="level-name">
    <% if @level %>
      <%= @level.number %>
      <% if @level.name %>
        &mdash; <%= @level.name %>
      <% end %>
    <% elsif (title = local_assigns[:title]) %>
      <%= title %>
    <% end %>
  </label>

  <% if local_assigns[:onboarding] %>
    <div class="onboarding">
      Solve puzzles quickly and accurately to unlock the next level
    </div>
  <% end %>

  <% if (next_level = @level&.next_level) %>
    <% if !current_user && @level.id == 1 %>
      <div class="next-stage invisible container anonymous">
        <div class="left">
          You've unlocked the next level!
          <div class="small">
            Sign up to save your progress, or continue to <%= next_level.number %>
          </div>
        </div>
        <div class="right">
          <a class="blue-button" href="<%= https_registration_url %>">
            Sign up
          </a>
          <a class="blue-button" href="/<%= next_level.slug %>">
            <%= next_level.number %> <%= fa_icon "angle-double-right" %>
          </a>
        </div>
      </div>
    <% else %>
      <div class="next-stage invisible container">
        <div class="left">You've unlocked the next level!</div>
        <div class="right">
          <a class="blue-button" href="/<%= next_level.slug %>">
            <%= next_level.number %> <%= fa_icon "angle-double-right" %>
          </a>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<script>
  blitz.levelId = <%= @level&.id %>;
  blitz.loggedIn = <%= current_user ? true : false %>;
</script>
