<header class="main-header">

  <div class="container">

    <a href="/" class="logo">
      <%= fa_icon "bolt" %>
      <span class="large">B</span>litz <span class="large">T</span>actics
    </a>

    <% if current_user %>
      <a href="/levels" class="link-right user-name">
        <%= current_user.username %>
      </a>
    <% else %>
      <a href="<%= https_registration_url %>" class="link-right sign-in">
        <%= fa_icon "sign-in" %> Sign up
      </a>
    <% end %>

    <a href="/about" class="link-right">About</a>

    <a href="/scoreboard" class="link-right">Scoreboard</a>

    <% if false %>
      <a href="javascript:" class="link-right icon"><%= fa_icon "clock-o" %></a>

      <a href="javascript:" class="link-right icon"><%= fa_icon "volume-down" %></a>
    <% end %>

  </div>

</header>
