<header class="main-header">
  <div class="container">
    <a href="/" class="logo">
      <%= fa_icon "bolt" %>
      <span class="large">B</span>litz <span class="large">T</span>actics
    </a>

    <a href="/positions" class="link-right low-priority">Positions</a>
    <a href="/scoreboard" class="link-right">Scoreboard</a>
    <a href="/about" class="link-right">About</a>

    <% if user_signed_in? %>
      <a href="/<%= current_user.username %>" class="link-right user-link">
        <%= current_user.username %>
      </a>
    <% else %>
      <a href="<%= https_registration_url %>" class="link-right user-link sign-in">
        <%= fa_icon "sign-in" %> Sign up
      </a>
    <% end %>

    <% if false %>
      <a href="javascript:" class="link-right icon"><%= fa_icon "clock-o" %></a>
      <a href="javascript:" class="link-right icon"><%= fa_icon "volume-down" %></a>
    <% end %>
  </div>
</header>
