<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) && "#{yield(:title)} | Blitz Tactics" || "Blitz Tactics" %></title>
  <meta name="description" content="<%= content_for?(:meta_description) && yield(:meta_description) || "A chess tactics server with fast-paced puzzles. Unlock the next level by solving puzzles quickly and accurately." %>">
  <meta name="keywords" content="chess tactics server, chess puzzles, tactics trainer, chess tactics trainer">
  <meta name="viewport" content="width=700, user-scalable=yes">

  <%# Using 2 stylesheets here because webpacker is loading styles out-of-order %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>

  <%= javascript_pack_tag 'application', defer: true %>

  <% unless Rails.env.test? %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans|Orbitron' %>
  <% end %>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>

<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
  <%= render partial: "layouts/main_header" %>
  <%= yield %>
  <%= render partial: "static/snippets/preload_svgs" %>
  <% if current_user&.user_chessboard && params[:controller] != 'users' %>
    <style type="text/css">
      <%= current_user.user_chessboard.to_css %>
    </style>
  <% end %>
  <%= render partial: "static/snippets/google_analytics" %>
  <%= render partial: "static/snippets/bugsnag" %>
</body>
</html>
