<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) && "#{yield(:title)} | Blitz tactics" || "Blitz tactics" %></title>
  <meta name="description" content="<%= content_for?(:meta_description) && yield(:meta_description) || "Fast-paced chess tactics trainer. Unlock the next level by solving puzzles quickly and accurately." %>">
  <meta name="keywords" content="chess tactics, tactics trainer, chess tactics trainer">
  <meta name="viewport" content="width=700, user-scalable=yes">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Orbitron' %>
  <%= javascript_pack_tag 'application' %>
  <%= favicon_link_tag    'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>

<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
  <%= render partial: "layouts/main_header" %>
  <%= yield %>
  <%= render partial: "static/snippets/chess_pieces" %>
  <%= render partial: "static/snippets/google_analytics" %>
</body>
</html>
