<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) && "#{yield(:title)} | Blitz Tactics" || "Blitz Tactics" %></title>
  <meta name="description" content="<%= content_for?(:meta_description) && yield(:meta_description) || "A chess tactics server with fast-paced puzzles. Unlock the next level by solving puzzles quickly and accurately." %>">
  <meta name="keywords" content="chess tactics server, chess puzzles, tactics trainer, chess tactics trainer">
  <meta name="viewport" content="width=700, user-scalable=yes">

  <%= javascript_pack_tag 'application', defer: true %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans|Orbitron' %>
  <%= favicon_link_tag    'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>

<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
  <%= render partial: "layouts/main_header" %>
  <%= yield %>
  <%= render partial: "static/snippets/chess_piece_svgs" %>
  <%= render partial: "static/snippets/google_analytics" %>
</body>
</html>
